@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --main-color: #135274;
  --overlay-color: #135274cd;
}

.auth-background {
  background: url("./assets/white-pharmacy-interior-design.webp");
  background-repeat: no-repeat;
  background-size: cover;
}
